@model NewCoreWebApp.Models.EmployeeModel;

@{
    ViewData["Title"] = "Create";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href="~/css/bootstrap.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/ui-lightness/jquery-ui.css' rel='stylesheet'>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link href="~/css/site.css" rel="stylesheet" />
<style>

    .icon1 {
        position: relative;
        float: left;
        margin-left: 10px;
        margin-top: -24px;
        z-index: 2;
        color: #222222;
    }

    .iconspace {
        /* to create space for placing icon*/
        padding-left: 32px;
    }
</style>
<center>
    <h4>Add Employee</h4>
    <hr />
</center>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-5">
        <form asp-action="Create" class="form-horizontal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label col-sm-3"></label>
                <div class="col-sm-9">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Dob" class="control-label col-sm-3"></label>
                <div class="col-sm-9">
                    <input asp-for="Dob" id="dob" class="form-control iconspace" />
                    <span class="icon1 fa fa-calendar fa-lg"></span>
                    <span asp-validation-for="Dob" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label col-sm-3"></label>
                <div class="col-sm-9">
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label col-sm-3"></label>
                <div class="col-sm-9">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label col-sm-3"></label>
                <div class="col-sm-9">
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label col-sm-3"></label>
                <div class="col-sm-9">
                    <input asp-for="State" class="form-control" />
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label col-sm-3"></label>
                <div class="col-sm-9">
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Zip" class="control-label col-sm-3"></label>
                <div class="col-sm-9">
                    <input asp-for="Zip" class="form-control" />
                    <span asp-validation-for="Zip" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="JoiningDate" class="control-label col-sm-3"></label>
                <div class="col-sm-9">
                    <input asp-for="JoiningDate" id="jd" class="form-control iconspace" />
                    <span class="icon1 fa fa-calendar fa-lg"></span>
                    <span asp-validation-for="JoiningDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentName" class="control-label col-sm-3"></label>
                <div class="col-sm-9">
                    <select asp-for="DepartmentName" class="form-control" asp-items="ViewBag.deptId"></select>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="ADD EMPLOYEE" class="btn btn-primary center-block" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index">Back to List</a>
</div>
<script>
    $(function () {
        $("#dob,#jd").datepicker({
            defaultDate: "01/25/2020"
        });
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
